.form-control:focus {
border: 1px auto;
border-color: green;
}

#main-title {
	text-shadow: 1px solid black;
}

button{
	width: 150px;
	height: 40px;
	font-size: 50px;
	/*border-radius: 20%;*/
}

#hello{
	font-size: 60px;
	text-shadow: 1px solid black;
}

#you-are{
	font-size: 60px;
	text-shadow: 1px solid black;
}